.app.dark {
    --bg-color: #0b1f2c;
    --inventred-bg-color: #3da7f8;
    --primary-color: #a7c9ac;
    --secondary-color: #85a18a;
    --inventred-primary-color: #262d27;
    --inventred-secondary-color: #3c493e;
}
