.app.light {
  --bg-color: #3da7f8;
  --inventred-bg-color: #0b1f2c;

  --primary-color: #262d27;
  --secondary-color: #3c493e;

  --inventred-primary-color: #a7c9ac;
  --inventred-secondary-color: #85a18a;
}
